/*Shortcode Button variations Frontend*/
.shortcode_prev{
font-family:Arial,Helevtica,Verdana,san-serif;
}

.avia-button{
color:#fff;
background-image: url("../images/icons/bg-button.png");
background-repeat: repeat-x;
background-position: 0 0;
padding:0 10px;
font-size: 12px;
text-decoration: none;
display:inline-block;
-webkit-border-radius: 3px;
-moz-border-radius: 3px;
border-radius: 3px;
border-style: solid;
border-width: 1px;
margin:3px 0;
line-height: 28px;
border-color: #e1e1e1;
background-color: #f8f8f8;
position: relative;
}

.avia-button:hover{
background-position: 0 -4px;
opacity:0.9;
color:#fff;
text-decoration: none;
}

.avia-button.dark , .avia-button.dark:hover{
color:#444;
}

.avia-button.grey, .avia-button.grey:hover{
color:#999;
}

.avia-button.red{background-color: #b00202; 	border-color: #b00202; }
.avia-button.orange{background-color: #f6a240; 	border-color: #f6a240; }
.avia-button.green{background-color: #52851b; 	border-color: #52851b; }
.avia-button.aqua{background-color: #58c4be; 	border-color: #58c4be; }
.avia-button.teal{background-color: #1d9f9f; 	border-color: #1d9f9f; }
.avia-button.purple{background-color: #a258c4; 	border-color: #a258c4; }
.avia-button.pink{background-color: #f346b0;	border-color: #f346b0; }
.avia-button.silver{background-color: #d7d7d7; 	border-color: #d7d7d7; }

.avia-button.small{
padding:0 4px 0px 4px;
font-size: 10px;
line-height: 22px;
}

.avia-button.large{
padding:0 10px 0px 10px;
font-size: 13px;
line-height: 33px;
}

.avia-button.xl{
padding:0 18px 0px 18px;
font-size: 14px;
line-height: 42px;
}

.avia-button span{
position: relative;
}

.avia-button .avia-info{ 	background: transparent url("../images/icons/info.png") no-repeat center left; 		padding: 2px 0 2px 22px; left:-2px;}
.avia-button .avia-alert{	background: transparent url("../images/icons/alert.png") no-repeat center left; 	padding: 2px 0 2px 22px; left:-2px;}
.avia-button .avia-tick{	background: transparent url("../images/icons/tick.png") no-repeat center left; 		padding: 2px 0 2px 22px; left:-2px;}
.avia-button .avia-download{background: transparent url("../images/icons/download.png") no-repeat center left; 	padding: 2px 0 2px 22px; left:-2px;}
.avia-button .avia-note{	background: transparent url("../images/icons/note.png") no-repeat center left; 		padding: 2px 0 2px 22px; left:-2px;}
.avia-button .avia-error{	background: transparent url("../images/icons/error.png") no-repeat center left; 	padding: 2px 0 2px 22px; left:-2px;}
.avia-button .avia-help{	background: transparent url("../images/icons/help.png") no-repeat center left; 		padding: 2px 0 2px 22px; left:-2px;}




/*Inline Links with icon*/

.avia-ilink a{
text-decoration :none;
padding: 2px 0 2px 22px;
display: inline-block;
}


.avia-ilink .info{ 	background: transparent url("../images/icons/info.png") no-repeat center left; 		}
.avia-ilink .alert{	background: transparent url("../images/icons/alert.png") no-repeat center left; 	}
.avia-ilink .tick{	background: transparent url("../images/icons/tick.png") no-repeat center left; 		}
.avia-ilink .download{background: transparent url("../images/icons/download.png") no-repeat center left; 	}
.avia-ilink .note{	background: transparent url("../images/icons/note.png") no-repeat center left; 		}
.avia-ilink .error{	background: transparent url("../images/icons/error.png") no-repeat center left; 	}
.avia-ilink .help{	background: transparent url("../images/icons/help.png") no-repeat center left; 		}


/*quotes*/

blockquote {
background: transparent url('../images/icons/quotes.png') no-repeat 0 8px; 
color:#777;
font-family:Georgia,"Times New Roman",Times,serif;
clear:both;
font-size:1.2em;
font-style:italic;
line-height:1.4em;
margin:10px 0 10px 0;
padding:0 0 0 40px;
}

blockquote p{
padding:11px 0px;
}

blockquote small, blockquote cite, blockquote small a, blockquote cite a, blockquote a small, blockquote a cite{
font-size: 12px;
color:#aaa;
}

.pullquote_right {
float:right;
margin:1% 0 1% 4%;
padding:0 0 0 40px;
width:37%;
clear:none;
}

.pullquote_left {
float:left;
margin:1% 4% 1% 0;
padding:0 0 0 40px;
width:37%;
clear:none;
}

.pullquote_boxed{
padding:10px 10px 10px 50px;
border:1px solid #e1e1e1;
background: #f8f8f8 url('../images/icons/quotes.png') no-repeat 10px 18px;
}


/*preview modification only*/
.shortcode_prev blockquote{
font-size: 14px;
}

.shortcode_prev .pullquote_boxed{
background-position:10px 28px;
}

.shortcode_prev .pullquote_left, .shortcode_prev .pullquote_right{
width:60%;
}


/*info boxes*/

.avia-box{
padding:15px;
background: #f8f8f8;
border-top:1px solid;
border-bottom:1px solid;
border-color:#e1e1e1;
color:#777;
font-size: 12px;
line-height: 1.5em;
text-align: center;
margin:5px 0;
}

.avia-box.large{
padding:22px;
font-size: 13px;
}

.avia-box.full{
border-left:1px solid;
border-right:1px solid;
border-color:#e1e1e1;
}

.avia-box.rounded{
-webkit-border-radius: 4px;
-moz-border-radius: 4px;
border-radius: 4px;
}

.avia-innerbox {display:inline-block;}
.avia-box.custom_icon .avia-innerbox{padding:2px 0 2px 22px; }
.avia-box.info .avia-innerbox{ 	background: transparent url("../images/icons/info.png") no-repeat center left; 	padding:2px 0 2px 22px;	}
.avia-box.alert .avia-innerbox{	background: transparent url("../images/icons/alert.png") no-repeat center left; padding:2px 0 2px 22px;	}
.avia-box.tick .avia-innerbox{	background: transparent url("../images/icons/tick.png") no-repeat center left; 	padding:2px 0 2px 22px; }
.avia-box.note .avia-innerbox{	background: transparent url("../images/icons/note.png") no-repeat center left; 	padding:2px 0 2px 22px; }
.avia-box.error .avia-innerbox{	background: transparent url("../images/icons/error.png") no-repeat center left; padding:2px 0 2px 22px;	}
.avia-box.help .avia-innerbox{	background: transparent url("../images/icons/help.png") no-repeat center left; 	padding:2px 0 2px 22px; }
.avia-box.download .avia-innerbox{	background: transparent url("../images/icons/download.png") no-repeat center left; padding:2px 0 2px 22px;	}
.avia-box.custom_icon_none .avia-innerbox{padding:2px;}


.avia-box.info 	{border-color:#4b87d0; background: #a6bfde; color:#fff;}
.avia-box.alert {border-color:#E6DB55; background: #FFFFE0; color:#9d5501;}
.avia-box.tick 	{border-color:#8BAF5B; background: #E0F1B5; color:#4F5F39;}
.avia-box.note 	{border-color:#4b87d0; background: #a6bfde; color:#fff;}
.avia-box.error {border-color:#941210; background: #f0dcdb; color:#941210;}
.avia-box.help 	{border-color:#4b87d0; background: #a6bfde; color:#fff;}
.avia-box.download {border-color:#4b87d0; background: #a6bfde; color:#fff;}


/*iconbox*/
.iconbox_icon{
float:left;
padding: 8px 5px 0 0;
}

.iconbox_content{
overflow: hidden;
font-size: 11px;
line-height: 17px;
}

.iconbox .iconbox_content .iconbox_content_title {
border: medium none;
padding: 8px 0 7px;
position: relative;
top: 7px;
margin:0;
font-size: 10px;
}

.shortcode_prev .iconbox_content{
color:#777;
}

.shortcode_prev .iconbox_content_title{
color:#000;
}


/*horizontal rulers*/

.hr{
clear: both;
display:block;
overflow: hidden;
width:100%;
padding:30px 0;
line-height:29px;
position: relative;
margin:0;
}

.hr_small{
padding:10px 0;
}

.hr a, .custom_hr_text{
font-size: 13px;
padding: 0 10px 0 0;
color:#bbb;
background: #f8f8f8;
display:inline-block;
position: relative;
top:-2px;
font-family:Georgia,"Times New Roman",Times,serif;
font-style: italic;
}

.post-entry .hr a, .post-entry .custom_hr_text{
background: #fff;
color:#ccc;
}

.hr_invisible{
clear: both;
display:block;
width:100%;
border:none;
background: none;
padding:15px 0;
}



/*content slider, tabs, toggles*/

.content_slider{
position: relative;
overflow: hidden;
}

.inner_slide_container{
position: absolute;
float: left;
}

.contentSlideControlls{
position: relative;
}

.contentSlideControlls a{
float:left;
height:16px;
width:16px;
display:block;
outline: none;
color:#666;
background: #f8f8f8;
line-height: 16px;
text-align: center;
font-size: 10px;
}

.contentSlideControlls a.activeItem{
background: #666;
color: #fff;
}


/*slidecontrolls positioning depending on first element*/

#top .pos_h1{ position: absolute; right:0; top:0; }
#top .pos_h2{ position: absolute; right:0; top:71px; }
#top .pos_h3{ position: absolute; right:0; top:24px; }
#top .pos_h4{ position: absolute; right:0; top:51px; }
#top .pos_h5{ position: absolute; right:0; top:50px; }
#top .pos_h6{ position: absolute; right:0; top:49px; }


.fullwidth_no_image{
height:2px;
width:100%;
}

.fallback_div{
width:100%;
height:100px;
}

.single_slide{
overflow: hidden;
}

/*toggle*/
.js_active .toggle_wrap{
display:none;
}

#top .active_toggle_wrap{
display:block;
}

.js_active .toggler {
cursor: pointer;
display: block;
margin: -1px 0;
padding: 3px 3px 5px 27px;
position: relative;
top: 1px;
}

.togglecontainer{
padding:10px 0;
}

.toggle_content{
padding:0 2px 0 31px;
margin:0 0 5px 0;
}


/*tabs*/

.tabcontainer{
padding: 10px 0;
position: relative;
width:100%;
}


.js_active .tab_content{
display: none;
clear: both;
padding: 15px;
overflow:auto;
position: relative;
}

.js_active .tab{
cursor:pointer;
margin:0 2px 0 0;
padding:3px 10px 5px;
display: block;
float: left;
border-bottom: none;
z-index: 2;
position: relative;
top:1px;
}

.js_active #top .active_tab{
z-index: 4;
position: relative;
border-bottom: none;
}

.js_active #top .active_tab_content{
display: block;
z-index: 3;
position: relative;
overflow:auto;
}

/*dropcaps*/

.dropcap1 {
display: block;
float: left;
font-size: 71px;
line-height: 53px;
margin: 4px 8px 0 0;
}

.dropcap2, .dropcap3{
font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
display:block;
float:left;
font-size:20px;
line-height:35px;
width:36px;
text-align: center;
margin:4px 8px 0 0;
background-image: url("../images/skin-minimal/reverse-dropcap.png");
}

.dropcap3{
background-color: #000;
color:#fff;	
}
